* { margin:0; padding:0; }

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9nbww0');
  src:  url('fonts/icomoon.eot?9nbww0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9nbww0') format('truetype'),
    url('fonts/icomoon.woff?9nbww0') format('woff'),
    url('fonts/icomoon.svg?9nbww0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-circle-o:before {
  content: "\e903";
}
.icon-bars:before {
  content: "\e902";
}
.icon-medium:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e900";
}

html, body {
  width:100%;
  height:100%;
  background-color: #000000;
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /*Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}
.infogroup {
  z-index: 50;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.infogroup__a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.ctrgroup {
  z-index: 50;
  position: absolute;
  bottom: 35px;
  width: 100%;
  color: #999;
  max-height: 600px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  overflow: hidden;
}
.ctrgroup--hidden {
  max-height: 52px;
}
.ctrgroup__tab {
  padding: 10px 16px 2px 16px;
  font-size: 32px;
}
.ctrgroup__togglebtn {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 7px 10px 3px 10px;
}

.ctrgroup__togglebtn, .ctrgroup__togglebtn:visited {
  text-decoration: none;
  color: #c6c6c6;
}

.ctrgroup__togglebtn:hover, .ctrgroup__togglebtn:active {
  color: #fff;
}

.ctrgroup__player {
  text-align: center;
  position: relative;
  width: 100%;
  float: left;
  background-color: rgba(255, 255, 255, 0.15);
  padding-top: 10px;
}
.ctrgroup__player__form__input {
  font-size: 20px;
  padding: 8px;
  margin-bottom: 10px;
  margin-left: -30px;
  width: 80%;
  max-width: 690px;
  color: #333;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ctrgroup__player__form__submit {
  position: absolute;
  color: #fff;
  font-size: 32px;
  padding: 5px;
  background: none;
  border: none;
}

.ctrgroup__player__audio {
  width: 95%;
}

.ctrgroup__player__audio::-webkit-media-controls-panel {
  background-color: #ffffff;
}

@keyframes turntable {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.defaultPanel {
  text-align: center;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  overflow: hidden;
}

.defaulPanel--hidden {
  max-height: 80vmax;
}

.defaulPanel__canvas {
  margin: auto;
  border: 2px outset rgba(255,255, 255, 0.4);
  border-radius: 50%;
  height: 20em;
  width: 20em;
  animation-name: turntable;
  animation-duration: 3.6s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  background: radial-gradient(closest-side,
    rgba(255,255, 255, 0.4) 2.2%,
    rgba(255,255, 255, 0.6) 2.2%, rgba(255,255, 255, 0.6) 32.5%,
    rgba(255,255, 255, 0.2) 32.5%, rgba(255,255, 255, 0.2) 42.6%,
    rgba(255,255, 255, 0.4) 42.6%, rgba(255,255, 255, 0.4) 49.7%,
    rgba(255,255, 255, 0.2) 49.7%, rgba(255,255, 255, 0.2) 50%,
    rgba(255,255, 255, 0.4) 50%, rgba(255,255, 255, 0.4) 59.7%,
    rgba(255,255, 255, 0.2) 59.7%, rgba(255,255, 255, 0.2) 60%,
    rgba(255,255, 255, 0.4) 60%, rgba(255,255, 255, 0.4) 69.7%,
    rgba(255,255, 255, 0.2) 69.7%, rgba(255,255, 255, 0.2) 70%,
    rgba(255,255, 255, 0.4) 70%, rgba(255,255, 255, 0.4) 79.7%,
    rgba(255,255, 255, 0.2) 79.7%, rgba(255,255, 255, 0.2) 80%,
    rgba(255,255, 255, 0.4) 80%, rgba(255,255, 255, 0.4) 89.7%,
    rgba(255,255, 255, 0.2) 89.7%, rgba(255,255, 255, 0.2) 90%,
    rgba(255,255, 255, 0.4) 90%, rgba(255,255, 255, 0.4) 96.7%,
    rgba(255,255, 255, 0.2) 96.7%);
}

.defaulPanel__h1 {
  font-weight: bold;
  font-size: 4.5em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.layer {
  position: absolute;
  display: table;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.layer__title {
  vertical-align: middle;
  display: table-cell;
  color: #ffffff;
}

.warnPanel {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.8);
  opacity: .9;
	-webkit-transition: opacity 0.5s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: opacity 0.5s ease-out;  /* FF4+ */
	-ms-transition: opacity 0.5s ease-out;  /* IE10? */
	-o-transition: opacity 0.5s ease-out;  /* Opera 10.5+ */
	transition: opacity 0.5s ease-out;
  z-index: 50;
  overflow: hidden;
}

.warnPanel--hidden {
  opacity: 0;
  max-height: 0;
  padding: 0;
}

.warnPanel__p {
  color: #fff;
  margin-bottom: 10px;
}

.fgCanvas {
  position: absolute;
  z-index: 10;
}

.imgCanvas {
  position: absolute;
  z-index: 20;
  top: 10px;
  right: 10px;
  opacity: 0.5;
}

/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: arial; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
